@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Ubuntu:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* Navbar Style */
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 999;
    /* background: crimson;  */
    font-family: 'Ubuntu';
    
    transition: all 0.7s ease;
    
    
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(243, 243, 167); 
    border-bottom: 2px solid black;
    box-shadow: 0px 10px 15px black;
    
}
.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: black;
    -webkit-text-stroke: .1px rgb(255, 255, 255);
    transition: all 0.7s ease;
}
.navbar.sticky .logo a span{
    color: rgb(240, 10, 10);
    -webkit-text-stroke: .1px rgb(49, 62, 240);
}
.navbar.sticky .logo a {
    color: rgb(255, 5, 5);
}
.navbar.sticky .menu li a{
    color: rgb(0, 0, 0);
}
.navbar.sticky .menu li a:hover{
    color: black;
}
.navbar.sticky .menu li a::after{
    background: rgb(255, 1, 1);
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li a{
    display: block;
    color: cyan;  
    font-size: 17px;
    font-weight: 700;
    margin: 8px 20px 0px 20px;
    transition: color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}
/* .navbar .menu li a:hover{
    color: cyan;
} */
li a{
    position: relative;
    background: none;
    padding-bottom: 10px;
    border: none;
    outline: none;
} 
.navbar .menu li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background: cyan;
    
}
.navbar .menu li a::after{
    transform: scale(0,1);
    transition: transform 0.3s ease;
}
.navbar .menu li a:hover::after{
    transform: scale(1,1);
} 
/* Menu Button Styling */
.menu-btn{
    color: orange;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
/* Home Section Styling */
.home{
    display: flex;
    background: url("images/background.jpg") no-repeat center center/cover;
    height: 100vh;
    background-attachment: fixed;
    min-height: 500px;
    color: white;
    font-family: 'Ubuntu';
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-container .txt1{
    font-size: 27px;
}
.home .home-container .txt2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-container .txt3{
    font-size: 40px;
    margin-left: 5px 0;
}
.home .home-container .txt3 span{
    color: cyan;
    font-weight: 500;
}
.home .home-container a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 25px;
    border: 3px solid black;
    border-radius: 7px;
    padding: 12px 26px;
    margin-top: 20px;
    transition: all 0.5s ease;
}
.home .home-container a:hover{
    border: 3px solid crimson;
    background: none;
    color: rgb(199, 255, 96);
}


section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

/* Styling About Section */
section{
    padding: 100px 0;
}
.about{
    font-family: 'Poppins', sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
.about .title::after{
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: crimson;
    background: white;
    transform: translateX(-50%);
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 40%;
}
.about img{
    height: 50vh;
    width: 50vh;
    background-position: fixed;
    object-fit: cover;
    -webkit-filter: drop-shadow(10px 1px 12 black)
                  drop-shadow(-10px 0px 0 black);
  filter: drop-shadow(10px 10px 0 black) 
          drop-shadow(0px 0px 0 black);
    
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about .about-content .right span{
    color: rgb(14, 10, 241);
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right button{
    display: inline-block;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background: rgb(240, 13, 43);
    border: 2px solid white;
    border-radius: 15px;
    margin: 15px 0;
    padding: 12px 16px;
    transition: all 0.5s ease;
    
}
.about .about-content .right button:hover{
   border: 2px solid black;
   color: red;
   background: none;
   cursor: pointer;
}

/* Services Section Styling */
.services{
    font-family: 'Poppins', sans-serif;
    color: white;
    background: black;
}
.services .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.services .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: white;
    transform: translateX(-50%);
}
.services .title::after{
    content: "what i provide";
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: crimson;
    background: black;
    transform: translateX(-50%);
}
.services img{
    height: 60px;
    width: 65px;
    
}

/* .services .serv-content{ */
    /* width: calc(40%-25px); */
    /* display: grid;
    grid-template-columns: auto auto auto;  */
    

/* .services .serv-content .advt{
    margin-left: 35px;
    margin-right: 35px;  
}
.services .serv-content .web{
    margin-left: -73px;  
} */
.services .serv-content{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
} 
.services .serv-content{
    margin-left:-50px;
    margin-right:-50px;
}
.services .serv-content .box{
    height: 290px;
    /* width: 400px;
    height: 270px; */
    background: rgb(51, 49, 49);
    text-align: center;
    border-radius: 6px;
    padding: 40px 25px;
    cursor: pointer;
     
}
.services .serv-content .card .text{
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.03);
}
.services .serv-content .card:hover .box{
    background: rgb(253, 255, 114);
    color: black;
}

/* Styling Skills Section */
.skills{
    font-family: 'Poppins', sans-serif;
}
.skills .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.skills .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
.skills .title::after{
    content: "what i know";
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: crimson;
    background: white;
    transform: translateX(-50%);
}
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background: rgb(240, 13, 43);
    border: 2px solid white;
    border-radius: 13px;
    margin: 15px 0;
    padding: 10px 15px;
    transition: all 0.5s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
    border: 2px solid crimson;
}

.skills .skills-content .right .info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
}
.skills .skills-content .right span{
      font-weight: 500;
      font-size: 19px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 20%;
}
.skills-content .right .node::before{
    width: 1%;
}
.skills-content .right .photo::before{
    width: 60%;
}
.skills-content .right .video::before{
    width: 70%;
}
/* Styling Contact me Section */
.contact{
    font-family: 'Poppins', sans-serif;
}
.contact .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.contact .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
.contact .title::after{
    content: "get in touch";
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: crimson;
    background: white;
    transform: translateX(-50%);
}
.contact .icons img{
    height: 25px;
    width: 27px;
}
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
      margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
     color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding:0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    height: 100%;
    width: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: crimson;
    background: none;
}

input[type=text]:focus, :focus {
      transition: all 0.2s ease;
    box-shadow: 0 0 9px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 0px 0px 0px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  }
/* Footer section styling */
footer{
    font-family: 'Poppins', sans-serif;
    background: #111;
    padding: 20px 23px;
    color: #fff;
    width: 100%;
    text-align: center;
}

footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
/* Media Queries for Responsiveness */
@media (max-width: 1330px){
    .about img{
        height: 340px;
        width: 340px;
    }
}

@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
}
}
@media (max-width: 1104px){
    .home .max-width{
        margin-left: 0px;
}
.about .about-content .left img{
    height: 300px;
    width: 300px;
}
}
@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .about .about-content .left img{
        height: 300px;
        width: 400px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";   /* Cross sign for Hamburger menu */
    }
    .navbar .menu{
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: black;
      text-align: center;
      padding-top: 80px;
      transition: all 0.4s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        color: white;
    }
    .navbar.sticky .menu li a{
        color: white;
    }
    .navbar.sticky .menu li a:hover{
        color: white;
    }
    .home .home-container .txt2{
        font-size: 70px;
    }
    .home .home-container .txt3{
        font-size: 35px;
    }
    .home .home-container a{
        font-size: 22px;
        padding: 10px 22px;
    }
    .max-width{
        max-width: 800px;
}
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
         display: flex;
         justify-content: center;
         margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }

}
@media (max-width: 750px){
    .services .serv-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        margin-left: 7px;
    }
    .services .serv-content .box{
        width: 300px;
    }
    .contact .contact-content .column,
    .skills .skills-content .column{
          width: 100%;
          margin-bottom: 35px;
    }
}
@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-container .txt2{
        font-size: 60px;
    }
    .home .home-container .txt3{
        font-size: 30px;
    }
    .home .home-container a{
        font-size: 20px;
        /* padding: 9px 25px; */
    }
    .services .serv-content{
        width: 100%;
        display: block;
        /* grid-template-rows: repeat(3, 1fr); */
        
    }
    .services .serv-content .box{
        width: 450px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media  (max-width: 500px){
    .about .about-content .left img{
        height: 300px;
        width: 300px;
    }
}
@media  (max-width: 450px){
    .services .serv-content{
        width: 100%;
    }
    .services .serv-content .box{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 320px;
    }
}
/* @media  (max-width: 500px){
    .home .home-container .txt2{
        font-size: 50px;
    }
    .home .home-container .txt3{
        font-size: 27px;
    }
} */
